.complaint {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;

	border-radius: 32px;
	padding: 64px 101px;
	margin: 144px 0;
	background-color: #0567f114;
}

.complaint > h2 {
	font-weight: 700;
	font-size: 72px;
	line-height: 72px;
	text-align: center;
	width: 90%;
}

.complaint__button {
	width: 262px;
	height: 48px;
	border-radius: 8px;
	padding: 16px 32px;
	background-color: #0567f1;
	color: white;
	font-family: DM Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 10%;
	text-transform: uppercase;
	text-align: center;
}

@media (max-width: 768px) {
	.complaint {
		gap: 32px;
		padding: 32px 10px;
		margin: 144px 0;
		background-color: #0567f114;
	}
	.complaint > h2 {
		font-size: 50px;
		line-height: 50px;
	}

	.complaint__button {
		width: auto;
	}
}
