.home__header {
	background-image: url("/images/header.png");
	background-size: cover;
	background-position: center;
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.home__header__content {
	color: white;
	width: 50%;
	margin-left: auto;

	width: 608;
	height: 472;
	top: 264px;
	left: 712px;
	border-radius: 40px;
	gap: 8px;
	padding: 40px;

	backdrop-filter: blur(16px);
	background: #0567f11a;
}

.home__header__content h1 {
	font-weight: 700;
	font-size: 72px;
	line-height: 72px;
	letter-spacing: -3%;
}

.home__header__content p {
	font-weight: 500;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -3%;
	width: 50%;
	margin-top: 25px;
}

.home__header__button {
	width: 263px;
	height: 48px;
	border-radius: 8px;
	padding: 16px 32px;
	gap: 8px;
	background: #ffee00;
	font-weight: 800;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 10%;
	text-transform: uppercase;
	color: #0567f1;
	display: inline-block;
	margin-top: 25px;
}

@media (max-width: 768px) {
	.home__header img {
		width: 90%;
	}

	.home__header__content {
		color: white;
		width: 50%;
		margin-left: auto;

		width: 100%;
		height: 100%;
		margin-top: 40px;
		top: 264px;
		left: 712px;
		border-radius: 40px;
		gap: 8px;
		padding: 40px;

		backdrop-filter: blur(16px);
		background: #0567f11a;
	}

	.home__header__content h1 {
		font-weight: 700;
		font-size: 45px;
		line-height: 45px;
		letter-spacing: -3%;
	}
	.home__header__content p {
		font-weight: 500;
		font-size: 32px;
		line-height: 32px;
		letter-spacing: -3%;
		width: 50%;
		margin-top: 25px;
	}
}
